body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.component {
    height: 100vh;
    scroll-snap-align: start;
    scroll-padding: 130px;
    scroll-snap-stop: always;
}